.reasonCard {
    width: 320px;
    height: 242px;
    /* Hiệu ứng Glassmorphism (Kính mờ) */
    background: rgba(255, 255, 255, 0.05); /* Trắng siêu nhạt */
    backdrop-filter: blur(16px); /* Làm mờ cảnh vật phía sau kính */
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Viền kính sáng nhẹ */
    
    border-radius: 24px; /* Bo góc tròn trịa hơn */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 40px;
    box-sizing: border-box; 
    color: #ffffff;
    transition: transform 0.3s ease, background 0.3s ease; 
}

.reasonCard:hover {
    /* transform: translateY(-8px); */
    background: rgba(255, 255, 255, 0.174); /* Sáng lên một chút khi hover */
}

.reasonCard h3 {
    font-size: 24px; 
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.3;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.reasonCard p {
    font-size: 16px; 
    margin: 0;
    line-height: 1.5;
    color: #cbd5e1; 
    font-family: 'Jost', sans-serif;
    font-weight: normal;
}