
.navBar {
    display: flex;
    justify-content: space-between; /* Đẩy Logo sang trái, Menu sang phải */
    align-items: center;            /* Căn giữa tất cả theo chiều dọc */
    padding: 10px 90px;             /* Tạo khoảng cách lề hai bên */
    background-color: rgb(5, 25, 34);      /* Nền đen */
    top: 0;
    position: sticky;
    z-index: 1000;
}

.navBar-Logo {
    cursor: pointer;
    display: flex;
    align-items:center; 
}

.navBar-Logo img{
    height: 40px;
    width: 60px;
    object-fit: contain;
}




.navBar-Links {
    display: flex;                  /* Dàn hàng ngang các mục <li> */
    list-style: none;               /* Bỏ dấu chấm đầu dòng */
    margin: 0;
    padding: 0;
    gap: 40px;                      /* Tạo khoảng cách ĐỀU giữa các chữ (Home, About...) */
}

.navBar-Links li a {
    text-decoration: none;          /* Bỏ gạch chân */
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;      /* Viết hoa chữ */
    transition: 0.3s;
}

.navBar-Links li a:hover {
    color: #cccccc;                 /* Đổi màu khi di chuột vào */
}