* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    width: 100%;
    justify-content: center;
    background-color: black;
    font-family: sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}



/*Jost*/

@font-face {
    font-family: 'Jost';
    src: url('./assets/fonts/Jonts/Jost-Regular.eot');
    src: url('./assets/fonts/Jonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Jonts/Jost-Regular.woff2') format('woff2'),
        url('./assets/fonts/Jonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./assets/fonts/Jonts/Jost-Bold.eot');
    src: url('./assets/fonts/Jonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Jonts/Jost-Bold.woff2') format('woff2'),
        url('./assets/fonts/Jonts/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./assets/fonts/Jonts/Jost-ExtraBold.eot');
    src: url('./assets/fonts/Jonts/Jost-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Jonts/Jost-ExtraBold.woff2') format('woff2'),
        url('./assets/fonts/Jonts/Jost-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./assets/fonts/Jonts/Jost-SemiBold.eot');
    src: url('./assets/fonts/Jonts/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Jonts/Jost-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Jonts/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

